<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si el archivo o carpeta existe, no reescribo
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirige todo a router.php
    RewriteRule ^(.*)$ router.php?resource=$1 [QSA,L]
</IfModule>
